version: "3.7"
networks:
  internal:
    driver: bridge
    name: movies-internal

volumes:
  database:
    driver: local
    name: movies-database

services:
  # Service for PHP-FPM
  php:
    build:
      context: api
    networks:
      - internal
    volumes:
      - ./api:/var/www/html
      - ./api/custom.ini:/usr/local/etc/php/conf.d/custom.ini
    depends_on:
      - database

  # Service for PostgreSQL, in production this should be a Cloud Service or similar
  database:
    image: postgres
    restart: always
    networks:
      - internal
    ports:
    - "${DOCKER_DB_PORT:-5432}:5432"
    volumes:
      - database:/var/lib/postgresql
    environment:
      POSTGRES_USER:  ${DOCKER_DB_USERNAME:-admin}
      POSTGRES_PASSWORD: ${DOCKER_DB_PASSWORD:-secret}
      POSTGRES_DB: ${DOCKER_DB_DATABASE:-forge}

  # Service for Vue PWA
  web:
    build:
      context: web
      target: ${DOCKER_ENVIRONMENT:-development}
    networks:
      - internal
    volumes:
      - ./web:/var/www/html
      - /var/www/html/node_modules
    restart: always

  # Service for laravel API
  api:
    image: nginx
    networks:
      - internal
    volumes:
      - ./api:/var/www/html
      - ./nginx/templates/api.conf.template:/etc/nginx/templates/default.conf.template
    depends_on:
      - php
    restart: always

  # Service for nginx reverse proxy, this is for mask internal services and this is the only one entry point
  # all requests with prefix "api" will be redirected to Laravel
  proxy:
    image: nginx
    networks:
      - internal
    ports:
      - "${DOCKER_APP_PORT:-3000}:${DOCKER_APP_PORT:-3000}"
    volumes:
      - ./nginx/templates/proxy.conf.template:/etc/nginx/templates/default.conf.template
      - ./api:/var/www/html
    environment:
      # The main port
      NGINX_PROXY_PORT: ${DOCKER_APP_PORT:-3000}

      # The API hostname must be the same as the service name for the api container in this config file
      # else reverse proxy will fail
      NGINX_API_HOST: http://api

      # The APP hostname must be the same as the service name for the web container in this config file
      # else reverse proxy will fail
      NGINX_APP_HOST: http://web
    depends_on:
      - web
      - api
    restart: always